*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5rem;
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: -2%;
    background: transparent;
    z-index: 999;
}

nav a{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav a:hover{
    color: #a7a7a7;
}

.hire-button{
    background-color: #a7a7a7;
    color: #000;
    padding: 0.8rem 1.5rem;
    border-radius: 40px;
    font-size: 0.9rem;
    border: none;
    font-weight: 600;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.hire-button:hover{
    background-color:white;
}

.content{
    width: 100%;
    height: 100vh;
    z-index: 1;
}