*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5rem;
    overflow-x: hidden;
}

.spline-model{
    position: fixed;
    inset: 0;
    z-index: -1;
}

.spline-model spline-viewer, .spline-model iframe{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 60px;
    opacity: 0;
    transform: translateY(-20px);
    animation: headerfadein 1.2s ease-out forwards;
    animation-delay: 0.3s;
}

@keyframes headerfadein{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo{
    color: black;
    padding: 20px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.navigation ul{
    display: flex;
    list-style: none;
    gap: 27px;
    align-items: center;
    padding: 10px;
    margin-left: -110px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.navigation ul li{
    color: black;
    transition: color 0.3s ease;
    position: relative;
}

.navigation ul li:hover{
    color: rgba(59, 59, 59, 0.726);
}

.hire-button{
    padding: 10px;
    margin-right: 50px;
    border: 1px solid black;
    background-color: black;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
}

.hire-button:hover{
    color: black;
    background-color: transparent;
    border: 3px solid black;
    font-weight: 700;
}

